<h2>Lista de Categorias:</h2>
<hr>

<a href="/admin/categorias/add">
    <button class="btn btn-success">Nova Categoria +</button>    
</a>

{{#each categorias}}
    <div class="card mt-4 shadow">
        <div class="card-body">
            <h5 class="card-title">{{ nome }}</h5>
            <p class="card-text">Slug: {{ slug }}</p>
            <small>Data de criação: {{ date }}</small>
          
            <div class="text-right mt-2">
                <form action="/admin/categorias/deleteCategoria" method="POST">
                    <a href="/admin/categorias/edit/{{_id}}" class="btn btn-primary">Editar</a>
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Deletar</button>
                </form>
            </div>

        </div>
    </div>
{{else}}

    <div class="mt-4 text-center">
        <h4>Nenhuma categoria registrada!</h4>
    </div>
{{/each}}
