<div class="jumbotron shadow-lg">
  <h1 class="display-4">Bem-vindo{{#if user}}, {{nome}} {{else}} ao Blog do Node{{/if}}</h1>
  <p class="lead">Este é um Blog simples, desenvolvido com <b>Node.js</b> + <b>Express</b> + <b>MongoDB</b></p>
  {{#unless user}}
    <hr class="my-4">
    <p>Não deixe de se cadastrar!</p>
    <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Cadastre-se</a>
  {{/unless}}
</div>

<hr>

<h2>Postagens recentes:</h2>

{{#each postagens}}
<div class="card mt-4 shadow">
    <div class="card-body">
        <h3>{{ titulo }}</h3>
        <p>{{ descricao }}</p>
        <div class="text-right">
            <a href="/postagem/{{ slug }}" class="btn btn-outline-success">Leia mais</a>
        </div>
        <hr>
        <small><b>Categoria:</b> {{ categoria.nome }}</small><br>
        <small><b>Data de publicação:</b> {{ data }}</small>
    </div>
</div>
{{else}}
    <div class="mt-4 text-center">
        <h5>Nenhuma postagem</h5>
    </div>
{{/each}}